@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
.separator {
  position: relative;
}

.separator-svg {
  position: absolute;
  bottom: -0.3rem;
}

.belt {
  background: #1a1a1a;
  height: 1rem;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: -1rem;
}

.section-header {
  margin: 4rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
}

.heroCard-flex {
  margin: 4rem 0;
  display: flex;
}

.hero-card_container {
  width: 100%;
  text-align: center;
  color: black;
  padding: 0.5rem;
}

.hero-card_main-text {
  color: black;
  font-weight: 400;
}

.hero-card_title {
  margin: 1rem;
}

.hero-card_image-container {
  width: 100%;
}

.hero-card_image {
  width: 100%;
}

.hero-card_text {
  color: black;
  font-weight: 400;
  padding: 1rem;
  margin: 1rem 0;
}

.hero-card_btn {
  width: 50%;
  height: 3rem;
  background: transparent;
  border: 1px solid black;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.hero-card_btn:hover {
  background: #1a1a1a;
  color: white;
}

.divider {
  background: #1a1a1a;
  height: 1.5rem;
  width: 100%;
  margin-top: 4rem;
}

.newsletter-form_container {
  background: #eee;
  padding: 2rem 1rem;
  text-align: center;
}

.newsletter-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.newsletter-form_input {
  border: 1px solid #929292;
  width: 30rem;
  padding: 1rem;
  margin: 0.5rem;
}

.newsletter-form_input:focus {
  outline: none;
  border: 1px solid black;
}

.newsletter-form_button {
  padding: 1rem;
  width: 15rem;
  margin: 0.5rem;
  background: transparent;
  border: 1px solid black;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.newsletter-form_button:hover {
  background: #1a1a1a;
  color: white;
}

.banner {
  text-align: center;
  margin-top: 5rem;
  height: 400px;
  background-image: url('./utils/images/main/Sneaker.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #02020242;
}

.banner-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.banner-title {
  color: white;
  font-size: 5rem;
  text-transform: capitalize;
}

.banner-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-btn {
  min-width: 10rem;
  width: 20%;
  padding: 0.6rem;
  margin: 0.3rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 500;
  transition: all 0.2s ease-out;
}

.banner-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

@media (max-width: 1000px) {
  .heroCard3 {
    display: none;
  }
  .hero-card_container {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .heroCard2 {
    display: none;
  }
}
