@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
.separator {
  position: relative;
}

.separator-svg {
  position: absolute;
  bottom: -0.3rem;
}

.belt {
  background: #1a1a1a;
  height: 1rem;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: -1rem;
}

.section-header {
  margin: 4rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
}

.heroCard-flex {
  margin: 4rem 0;
  display: flex;
}

.hero-card_container {
  width: 100%;
  text-align: center;
  color: black;
  padding: 0.5rem;
}

.hero-card_main-text {
  color: black;
  font-weight: 400;
}

.hero-card_title {
  margin: 1rem;
}

.hero-card_image-container {
  width: 100%;
}

.hero-card_image {
  width: 100%;
}

.hero-card_text {
  color: black;
  font-weight: 400;
  padding: 1rem;
  margin: 1rem 0;
}

.hero-card_btn {
  width: 50%;
  height: 3rem;
  background: transparent;
  border: 1px solid black;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.hero-card_btn:hover {
  background: #1a1a1a;
  color: white;
}

.divider {
  background: #1a1a1a;
  height: 1.5rem;
  width: 100%;
  margin-top: 4rem;
}

.newsletter-form_container {
  background: #eee;
  padding: 2rem 1rem;
  text-align: center;
}

.newsletter-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.newsletter-form_input {
  border: 1px solid #929292;
  width: 30rem;
  padding: 1rem;
  margin: 0.5rem;
}

.newsletter-form_input:focus {
  outline: none;
  border: 1px solid black;
}

.newsletter-form_button {
  padding: 1rem;
  width: 15rem;
  margin: 0.5rem;
  background: transparent;
  border: 1px solid black;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.newsletter-form_button:hover {
  background: #1a1a1a;
  color: white;
}

.banner {
  text-align: center;
  margin-top: 5rem;
  height: 400px;
  background-image: url('./utils/images/main/Sneaker.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #02020242;
}

.banner-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.banner-title {
  color: white;
  font-size: 5rem;
  text-transform: capitalize;
}

.banner-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-btn {
  min-width: 10rem;
  width: 20%;
  padding: 0.6rem;
  margin: 0.3rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 500;
  transition: all 0.2s ease-out;
}

.banner-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.footer-container {
  margin-top: 5rem;
  background: #1a1a1a;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer-logo {
  color: #f0ad4e;
  cursor: pointer;
}

.footer-social_media-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-social_media {
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.facebook:hover {
  background: #0073ff;
}

.instagram:hover {
  background: #ff8a1d;
}

.youtube:hover {
  background: red;
}

.catagory-container {
  margin: 0 1rem;
}

.footer-body {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catagory-title {
  color: white;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
}

.catagory-title::after {
  content: '';
  width: 30%;
  height: 10px;
  background: #f0ad4e;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.catagory-item_container {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  color: white;
  font-weight: 400;
}

.catagory-item {
  margin: 0.3rem 0;
  padding: 0;
  cursor: pointer;
}

.catagory-item:hover .catagory-item_text {
  border-bottom: 1px solid white;
}

.copy-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: #bebebe;
}

.copy-right_text {
  margin: 1rem;
}

.footer-service {
  list-style: none;
  padding: 0;
  margin: 1rem;
  display: flex;
}

.footer-service_item {
  margin: 0 0.2rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.footer-service_item2 {
  border-left: 2px solid white;
  padding-left: 0.3rem;
}

.footer-service_item:hover {
  color: white;
  border-bottom: 1px solid white;
}

.product-container {
  margin-top: 3rem;
  margin-bottom: 6rem;
  position: relative;
}
.product_img-container {
  background: #eeeeee;
}

.product_img {
  mix-blend-mode: multiply;
  width: 80%;
  max-width: 310px;
  transition: all 0.3s ease-out;
}

.product_img:hover {
  transform: scale(1.5) translateY(-20%);
}

.product-btn {
  color: black;
}

.alert {
  font-size: 1.1rem;
  font-weight: 300;
}

.cart-flex {
  display: flex;
  align-items: center;
}

.cart-container {
  width: 100%;
  background: #eeeeee;
  padding: 0.5rem;
  max-width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.cart-container_bg {
  width: 100%;
  height: 100vh;
  background: #0202027e;
  padding: 0.5rem;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 100;
}

.cart-container::-webkit-scrollbar {
  width: 5px;
}

.cart-container::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 10px;
}

.cart-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.cart-alert {
  max-width: 600px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.item-num_container {
  position: relative;
}

.item-num {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: red;
  z-index: 10;
}

@media (max-width: 1000px) {
  .heroCard3 {
    display: none;
  }
  .hero-card_container {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .heroCard2 {
    display: none;
  }
  .cart-container {
    max-height: 80vh;
  }
}
