@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
.separator {
  position: relative;
}

.separator-svg {
  position: absolute;
  bottom: -0.3rem;
}

.belt {
  background: #1a1a1a;
  height: 1rem;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: -1rem;
}

.section-header {
  margin: 4rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
}

.heroCard-flex {
  margin: 4rem 0;
  display: flex;
}

.hero-card_container {
  width: 100%;
  text-align: center;
  color: black;
  padding: 0.5rem;
}

.hero-card_main-text {
  color: black;
  font-weight: 400;
}

.hero-card_title {
  margin: 1rem;
}

.hero-card_image-container {
  width: 100%;
}

.hero-card_image {
  width: 100%;
}

.hero-card_text {
  color: black;
  font-weight: 400;
  padding: 1rem;
  margin: 1rem 0;
}

.hero-card_btn {
  width: 50%;
  height: 3rem;
  background: transparent;
  border: 1px solid black;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.hero-card_btn:hover {
  background: #1a1a1a;
  color: white;
}

@media (max-width: 1000px) {
  .heroCard3 {
    display: none;
  }
  .hero-card_container {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .heroCard2 {
    display: none;
  }
}
